%h3= t('nav.admin.post_control')

%table.table.table-condesed.table-hover
  %thead
    %tr
      %th
      %th= t('post.date')
      %th= t('post.title')
      %th= t('post.status')
      %th= t('post.published_datetime')
      %th
  %tbody
    - @posts.each do |p|
      %tr
        %td= link_to icon('remove'), admin_post_path(p), method: :delete, class: 'btn btn-danger btn-xs'
        %td= l(p.created_at)
        %td= p.title
        %td
          .make-switch.switch-mini= check_box_tag '#', true, p.published
        %td= p.published ? l(p.published_datetime) : ''
        %td= link_to t('buttons.edit'), edit_admin_post_path(p), class: 'btn btn-info btn-xs'

= link_to t('buttons.new'), new_admin_post_path, class: 'btn btn-success btn-sm'
