.navbar.navbar-default{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .navbar-brand= link_to t("nav.title"), root_path

  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li= link_to t("nav.home"), root_path
      %li= link_to t("nav.about"), about_path
      %li= link_to t("nav.course"), courses_path
      %li= link_to t("nav.blog"), blog_path
      -#%li= link_to t("nav.valut"), valut_path
      -if current_user.present? and current_user.is_admin?
        %li#admin_dashboard= link_to t("nav.admin.dashboard"), admin_path


