.navbar.navbar-default{role: "navigation"}
  .navbar-header.navbar-brand= link_to t("nav.title"), root_path
  %ul.nav.navbar-nav
    %li= link_to t("nav.about"), "#"
    %li= link_to t("nav.class"), "#"
    %li= link_to t("nav.blog"), "#"
    %li= link_to t("nav.valut"), "#"

